.image{
 width: 1300px;
 height: 400px;  
 position: relative;

}
.card-body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
  
    /* background-color: rgb(255, 237, 234); */
    color: white;
    padding: 2px 12px;
    border-radius: 30px;
    bottom:180px;
    margin: 20px 0 20px 20px;
}
.heading{
    font-size:40px;
    text-decoration: solid;

}
.btn
{
    font-size: 20px;
    border: 5px solid orange;
    background-color: orange;
    color: white;
    border-radius:20px ;
}
p{
    font-size: 20px;
}